@import "../variables";

.navbar {
  font-family: "Merriweather", $base-font-family;
  margin: 4rem 0 6rem;
  .navbar-center {
    .logo {
      position: relative;
      display: block;
      border-radius: 100%;
      margin: -10px 0;
      height: 50px;
      box-shadow: 0 0 40px rgba($dark-color, 0.3);
      backface-visibility: hidden;
      z-index: 5;
      text-decoration: none;
      & > span {
        display: block;
        position: absolute;
        font-family: "Indie Flower", $base-font-family;
        left: 90%;
        white-space: nowrap;
        bottom: 90%;
        z-index: 5;
        font-size: 1.27em;
        transform: rotateZ(-5deg) translate3d(0,0,0);
        transform-origin: 51% 53%;
        margin: 0 0 .2rem 1.5rem;
        pointer-events: none;
        opacity: 0;
        transition: all 0.2s ease;
        & > span {
          &.sec {
            display: none;
          }
        }
        svg {
          fill: $primary-color;
          position: absolute;
          right: 110%;
          top: 60%;
          width: 24px;
          transform: rotateZ(-120deg) translate3d(0,0,0);
          transition: all 0.5s ease-in-out;
        }
      }
      &:hover > span {
        transform: rotateZ(-5deg) translate3d(10%, -10%, 0);
        opacity: 1;
        svg {
          transform: rotateZ(-120deg) translate3d(5%,20%,0);
        }
        & > span {
          display: block;
          &.sec {
            display: none;
          }
        }
      }
      .menu-wrapper,
      .logo-wrapper {
        position: relative;
        display: block;
        z-index: 6;
        border-radius: 100%;
        height: 50px;
        width: 50px;
        background: #FFF;
        transform: translate3d(0, 0, 0);
        transform-style: preserve-3d;
        transform-origin: center;
        transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
        backface-visibility: hidden;
        // will-change: transform;
        svg {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 51px;
          height: 51px;
          border-radius: 100%;
          overflow: hidden;
          backface-visibility: hidden;
          .cls-1 {
            fill: $primary-color;
          }
          .cls-2 {
            fill: #FFF;
          }
        }
        .imgvatar {
          position: absolute;
          z-index: 1;
          width: 50px;
          height: 50px;
          top: 0;
          left: 0;
          border-radius: 100%;
          background-image: url("~/assets/avatar.jpg");
          background-size: 100%;
          backface-visibility: hidden;
          image-rendering: -moz-crisp-edges;         /* Firefox */
          image-rendering:   -o-crisp-edges;         /* Opera */
          image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
          image-rendering: crisp-edges;
          -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
          transform: rotate3d(1, 1, 0, 180deg);
        }
      }
      .menu-wrapper {
        display: none;
        text-decoration: none;
        & > i {
          display: block;
          width: 100%;
          background: #9952ff;
          height: 100%;
          border-radius: 100%;
          text-align: center;
          line-height: 50px;
          font-size: 40px;
          color: #FFF;
        }
      }
      &:before {
        box-sizing: content-box;
        content: "";
        position: absolute;
        width: 100%;
        height: 50px;
        background: rgba($body-bg, 0.65);
        box-shadow: 50px 0 $body-bg,
                    -50px 0 $body-bg,
                    0 -50px $body-bg,
                    0 20px 50px rgba($dark-color, 0.1);
        padding: 0 10px;
        left: -25px;
        top: -15px;
        transform: rotate(-45deg) translate3d(0, 0, 0);
        z-index: 4;
        pointer-events: none;
      }
      &:after {
        box-sizing: content-box;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: -8px;
        left: -8px;
        border-radius: 100%;
        padding: 6px 7px 7px 6px;
        border: 2px solid $primary-color;
        background-color: rgba(255,255,255, .6);
        box-shadow: inset 0 0 0 8px rgba(255,255,255,.3);
        z-index: 5;
        pointer-events: none;
      }
      &:hover {
        .logo-wrapper {
          transform: rotate3d(1,1,0,180deg); // scale(1.29)
        }
      }
    }
  }
  .navbar-section {
    .navbar-brand:focus {
      box-shadow: none;
    }
    .btn {
      position: relative;
      overflow: hidden;
      margin: 0 .4rem;
      padding-left: 0;
      padding-right: 0;
      &:focus {
        box-shadow: none;
      }
      em {
        display: block;
        position: absolute;
        width: 100%;
        height: 55%;
        background: rgba($primary-color, .05);
        left: 80%;
        top: 0;
        opacity: 0;
        border-radius: 0;
        z-index: -1;
        // will-change: opacity, transform;
        transition: all .6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
      }
      &.nuxt-link-exact-active {
        color: $dark-color;
        cursor: default;
        em {
          z-index: 999;
          transition-delay: 0.1s;
          opacity: 1;
          transform: translate3d(-100%, 0, 0);
        }
        &:before {
          width: 0 !important;
          background: transparent !important;
          transition: width 0s ease, background .5s ease !important;;
        }
        &:after {
          background: $primary-color !important;
          width: 0 !important;
          transition: width .3s ease !important;
        }
      }
    }
  }
}


#box {
  position: absolute;
  left: 50%;
  top: 0; //50px;
  transform: translate3d(-50%,0,0) rotate(180deg);
  transform-origin: top;
  width: 300px;
  z-index: 4;
  pointer-events: none;
  .waves {
    position: absolute;
    left: 0;
    top: 0;
  }
  #waves2 {
    left: 0; //-4%;
    top: 3px;
  }
  #waves3 {
    left: 0; // 4%;
    top: 3px;
  }
}
