@import "../variables";

.ll {
  text-decoration: none!important;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    transition: width 0s ease, background .5s ease;
    // will-change: width, background;
  }
  &:after {
    background: $primary-color;
    content: '';
    position: absolute;
    width: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    transition: width .3s ease;
    // will-change: width;
  }
  &:hover {
    &:before {
      background: $primary-color;
      width: 100%;
      transition: width .3s ease;
    }
    &:after {
      background: transparent;
      width: 100%;
      transition: all 0s ease;
    }
  }
}