// Spectre Variables
$primary-color: #9853ff;
$secondary-color: lighten($primary-color, 30%) !default;
$dark-color: #263238;
$base-font-family: "Lora", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
$line-height: 1.2rem;
// Custom Variables
$menu-hover-trans: 0.3s;
$body-bg: #fff;
$bg-color-light: rgba(#F7F7F7, 0.05);
